body {
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin: 0;
    width: 50%;
}
h1{
    color: #333;
}
ul{
    list-style-type: none;
    padding: 0;
}
li{
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
}
.deleteTask{
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}